@media only screen and (max-width: 768px) {
    /* Header */
    header {
        flex-direction: column;
        padding: 20px;
    }

    .header-right {
        margin-top: 20px;
    }

        .header-right a {
            font-size: 16px;
            margin-left: 10px;
        }

    /* Ana bölüm */
    main {
        padding: 0 20px;
    }

    /* En çok satanlar */
    .urunler {
        justify-content: center;
    }

    .urun {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    /* Ana baþlýk */
    h1 {
        font-size: 36px;
    }

    /* En çok satanlar */
    .urun {
        width: 100%;
    }
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

/* Header sol tarafý */
.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

/* Header sað tarafý */
.header-right {
    display: flex;
}

    .header-right a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        margin-left: 20px;
    }

        .header-right a:hover {
            text-decoration: underline;
        }

/* Ana baþlýk */
h1 {
    font-size: 48px;
    margin: 100px 0 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Ana bölüm */
main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* En çok satanlar */
.urunler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.urun {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

    .urun:hover {
        transform: translateY(-5px);
    }

    .urun img {
        width: 100%;
        height: auto;
        display: block;
    }

.urun-aciklama {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Lato', sans-serif;
}

.urun h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 700;
}

.urun p {
    margin: 0;
    font-size: 18px;
}

.urun button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
    .urun button:hover {
        background-color: var(--koyu-mavi);
    }