<div class="index-main-slider container container-boxed-slider">
    <div class="row">
        <div class="slider-container col-12 col-md-9" style="height:284px;">
            <div id="main-slider" class="main-slider" style="padding:unset;">
                <div class="item lazyload" style="border-radius: 12px;height:284px;" data-bg="/GamySell/uploads/slider/slider_641377c7c45f93-30878074-79113398.webp">
                    <div class="container">
                        <div class="row row-slider-caption align-items-center">
                            <div class="col-12">
                                <div class="caption">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item lazyload" style="border-radius: 12px;height:284px;" data-bg="/GamySell/uploads/slider/slider_63ebb9d5018d63-34098332-21421601.webp">
                    <a href="blog/duyuru/alisveris-puani-nedir.html">
                        <div class="container">
                            <div class="row row-slider-caption align-items-center">
                                <div class="col-12">
                                    <div class="caption">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item lazyload" style="border-radius: 12px;height:284px;" data-bg="/GamySell/uploads/slider/slider_62fc2cc9c64bc0-55071806-21174195.webp">
                    <a href="index.html">
                        <div class="container">
                            <div class="row row-slider-caption align-items-center">
                                <div class="col-12">
                                    <div class="caption">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item lazyload" style="border-radius: 12px;height:284px;" data-bg="/GamySell/uploads/slider/slider_63909f010a8f74-60743738-35904839.webp">
                    <div class="container">
                        <div class="row row-slider-caption align-items-center">
                            <div class="col-12">
                                <div class="caption">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-slider-nav" class="main-slider-nav">
                <button class="prev" style="margin-left: 0.3125rem;"><i class="icon-arrow-left"></i></button>
                <button class="next" style="margin-right: 2.2125rem;"><i class="icon-arrow-right"></i></button>
            </div>
        </div>
        <style>
            .btn-item-add-to-cart.addtocart, .card-sponsor {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
            }

            .product-name, .sponsor-magaza {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical
            }

            .container-sponsor {
                width: 900px
            }

            .card-sponsor {
                background-color: #fff0;
                border: none;
                border-radius: 10px;
                width: 190px;
                max-height: 290px;
            }

            .image-container-sponsor {
                position: relative;
                height: auto
            }

                .image-container-sponsor img {
                    height: 190px;
                    object-fit: cover;
                    width: auto
                }

            .thumbnail-image {
                border-radius: 10px !important
            }

            .badge-sponsor {
                background-color: #00f;
                padding: 1px 4px;
                font-size: 10px;
                border-radius: 6px;
                color: #fff;
                z-index: 2
            }

            .new-price, .product-name {
                font-size: 13px;
                font-weight: 700
            }

            .btn-item-add-to-cart.addtocart {
                height: 25px;
                width: 25px;
                background-color: #eee;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                z-index: 2
            }

            .first {
                position: absolute;
                width: 100%;
                padding: 9px
            }

            .product-name {
                width: 75%;
                display: -webkit-box;
                -webkit-line-clamp: 2
            }

            .new-price {
                color: red
            }

            .old-price {
                font-size: 8px;
                font-weight: 700;
                color: grey
            }

            .btn-sponsor {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                padding: 3px
            }

            .item-size {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #fff;
                border: 1px solid grey;
                color: grey;
                font-size: 10px;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center
            }

            .sponsor-magaza {
                font-size: 10px;
                color: grey;
                display: -webkit-box;
                -webkit-line-clamp: 1
            }
        </style>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card-sponsor">
                <div class="image-container-sponsor">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="badge-sponsor">Sponsorlu</span>
                            <a href="javascript:void(0)" class="item-option btn-item-add-to-cart addtocart" data-toggle="tooltip" data-placement="left" data-product-id="18497" data-reload="0" title="Sepete Ekle">
                                <i class="icon-cart"></i>
                            </a>
                        </div>
                    </div>
                    <a href="2x-boostlu3-aylik-nitro-1849781f6.html?ref=home">
                        <img src="/GamySell/uploads/images/202304/img_x300_64358fe15ee958-75673984-57586093.webp" alt="2X Boostlu,3 Aylık Nitro" class="img-fluid rounded thumbnail-image" width="190" height="190">
                    </a>
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="2x-boostlu3-aylik-nitro-1849781f6.html?ref=home"><h5 class="product-name">@ViewBag.SponsorTitle</h5></a>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">@ViewBag.SponsorPrice ₺</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div class="color-select d-flex ">
                            <div class="rating">
                                <i class="icon-star-o"></i>
                                <i class="icon-star-o"></i>
                                <i class="icon-star-o"></i>
                                <i class="icon-star-o"></i>
                                <i class="icon-star-o"></i>
                            </div>
                        </div>
                        <div class="d-flex ">
                            <span class="item-wishlist">0 <i class="icon-heart-o"></i></span>
                        </div>
                    </div>
                    <span class="sponsor-magaza pt-1">Mağaza: @ViewBag.UserName </span>
                </div>
            </div>
        </div>
    </div>
</div>
