<ul class="slider-one owl-carousel cara2">
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/steam/199.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/steam-mini.webp" />
            </span>
            <div class="so-text">Steam Cüzdan</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/sosyal-medya/280.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/sosyal-medya-mini.webp" />
            </span>
            <div class="so-text">Sosyal Medya</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/league-of-legends/47.html" class="so-link light-effect">
            <span class="so-item BlueViolet">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/lol-mini.webp" />
            </span>
            <div class="so-text">LoL</div>
        </a>
        <span class="badgesliderup BlueViolet">%10 İndirim</span>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/valorant/43.html" class="so-link light-effect">
            <span class="so-item CornflowerBlue">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/valorant-mini.webp" />
            </span>
            <div class="so-text">Valorant</div>
        </a>
        <span class="badgesliderup CornflowerBlue">%10 İndirim</span>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/pubg-mobile/53.html" class="so-link light-effect">
            <span class="so-item Crimson">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/pubg-mobile-mini.webp" />
            </span>
            <div class="so-text">PUBG Mobile</div>
        </a>
        <span class="badgesliderup Crimson">%10 İndirim</span>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/zula/193.html" class="so-link light-effect">
            <span class="so-item DarkGreen">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/zula-mini.webp" />
            </span>
            <div class="so-text">Zula</div>
        </a>
        <span class="badgesliderup DarkGreen">%10 İndirim</span>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/cs-go/38.html" class="so-link light-effect">
            <span class="so-item DarkOrange">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/cs-go-mini.webp" />
            </span>
            <div class="so-text">CS:GO</div>
        </a>
        <span class="badgesliderup DarkOrange">%10 İndirim</span>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/black-desert/130.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/black-desert-mini.webp" />
            </span>
            <div class="so-text">Black Desert</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="#" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/silkroad-mini.webp" />
            </span>
            <div class="so-text">Silkroad Online</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/knight-online/65.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/knight-online-mini.webp" />
            </span>
            <div class="so-text">Knight Online</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/metin2/92.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/metin2-mini.webp" />
            </span>
            <div class="so-text">Metin2</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="#" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/fortnite-mini.webp" />
            </span>
            <div class="so-text">Fortnite</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="#" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/valorant-mini.webp" />
            </span>
            <div class="so-text">Valorant</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/categories.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/mobil-oyunlar-mini.webp" />
            </span>
            <div class="so-text">Mobil Oyunlar</div>
        </a>
    </li>
    <li class="item" style="display:block; min-height:105px;">
        <a href="/GamyEpin/category/pubg-mobile/53.html" class="so-link light-effect">
            <span class="so-item">
                <img class="owl-lazy" src="#" alt="" data-src="/GamyEpin/images/pubg-mobile-mini.webp" />
            </span>
            <div class="so-text">PUBG Mobile</div>
        </a>
    </li>
</ul>
