
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content tab-system">
<nav class="brreadcrumb">
<div class="container" style="position:relative;">
<ul>
<li><a href="/Home/Index">Ana Sayfa</a></li>
<li><a href="/Categories/Index">Kategoriler</a></li>
<li>
<a href="1.html">PUBG Mobile Hesap Satışı</a>
</li>
</ul>
</div>
</nav>

    <div class="main-container bggrey pt-3 pb-3">
        <div class="row">
            <div class="col-xl-10 col-md-9 col-12 order-md-1 order-2 mt-md-0 mt-3">
                <div class="items-lister">
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 60 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 19,16  TL</span>
                                            <font color="white"> 17.42 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_90" onchange="changeAmount(90)" class="quantityField" value="1" min="1" max="415" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_90" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 325 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 94,00  TL</span>
                                            <font color="white"> 85.45 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_91" onchange="changeAmount(91)" class="quantityField" value="1" min="1" max="7527" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_91" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 3850 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 953,59  TL</span>
                                            <font color="white"> 866.90 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_94" onchange="changeAmount(94)" class="quantityField" value="1" min="1" max="32" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_94" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 8100 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 1.915,66  TL</span>
                                            <font color="white"> 1741.51 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_95" onchange="changeAmount(95)" class="quantityField" value="1" min="1" max="117" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_95" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 16200 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 3.759,70  TL</span>
                                            <font color="white"> 3417.91 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_96" onchange="changeAmount(96)" class="quantityField" value="1" min="1" max="5" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_96" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 24300 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 5.584,91  TL</span>
                                            <font color="white"> 5077.19 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_97" onchange="changeAmount(97)" class="quantityField" value="1" min="1" max="2" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_97" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 32400 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 7.446,54  TL</span>
                                            <font color="white"> 6769.58 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_98" onchange="changeAmount(98)" class="quantityField" value="1" min="1" max="1" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_98" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 32400 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 7.446,54  TL</span>
                                            <font color="white"> 6769.58 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_99" onchange="changeAmount(99)" class="quantityField" value="1" min="1" max="1" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_99" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 40500 UC</a>
                                <p class="long"></p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 9.399,25  TL</span>
                                            <font color="white"> 8544.77 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_100" onchange="changeAmount(100)" class="quantityField" value="1" min="1" max="3" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_100" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 22 UC</a>
                                <p class="long">Razer Gold 5 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 5,46  TL</span>
                                            <font color="white"> 4.96 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_101" onchange="changeAmount(101)" class="quantityField" value="1" min="1" max="1278" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_101" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 45 UC</a>
                                <p class="long">Razer Gold 10 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 10,90  TL</span>
                                            <font color="white"> 9.91 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_102" onchange="changeAmount(102)" class="quantityField" value="1" min="1" max="998" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_102" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 112 UC</a>
                                <p class="long">Razer Gold 25 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 27,26  TL</span>
                                            <font color="white"> 24.78 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_103" onchange="changeAmount(103)" class="quantityField" value="1" min="1" max="1127" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_103" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 225 UC</a>
                                <p class="long">Razer Gold 50 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 54,52  TL</span>
                                            <font color="white"> 49.56 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_104" onchange="changeAmount(104)" class="quantityField" value="1" min="1" max="1411" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_104" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 485 UC</a>
                                <p class="long">Razer Gold 100 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 109,02  TL</span>
                                            <font color="white"> 99.11 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_106" onchange="changeAmount(106)" class="quantityField" value="1" min="1" max="459" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_106" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 1232 UC</a>
                                <p class="long">Razer Gold 250 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 272,56  TL</span>
                                            <font color="white"> 247.78 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_107" onchange="changeAmount(107)" class="quantityField" value="1" min="1" max="665" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_107" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-3">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6 col-12 text-md-left text-center">
                                <a href="#" class="name">PUBG Mobile 2679 UC</a>
                                <p class="long">Razer Gold 500 TL Epini Olarak Teslim Edilir</p>

                            </div>
                            <div class="col-xl-5 col-md-6 col-12 text-md-right text-center">
                                <div class="row justify-content-md-end justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="price">
                                            <span class="old-price" data-toggle="tooltip" data-placement="top" title="" data-original-title="Bu üründe Yaklaşık %10 indirim Mevcuttur."> 545,11  TL</span>
                                            <font color="white"> 495.55 TL</font>
                                        </div>
                                        <div class="quantity">
                                            <button class="minus">-</button>
                                            <input type="text" id="amount_108" onchange="changeAmount(108)" class="quantityField" value="1" min="1" max="526" readonly="">
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a id="buy_108" data-toggle="modal" data-target="#login" class="buy">
                                            <span>
                                                <span>
                                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00972 0.012776L0.893053 0.000574938C0.468501 -0.0149454 0.0872416 0.285291 0.012776 0.715537L0.000574938 0.832199C-0.0149454 1.25675 0.285291 1.63801 0.715537 1.71248L2.45086 2.01261L3.50255 14.5425L3.52432 14.7308C3.73591 16.1596 4.96484 17.2337 6.42853 17.2337H18.9771L19.1661 17.2277C20.5419 17.1399 21.6826 16.0995 21.8834 14.7174L22.9748 7.17534L22.9936 7.00211C23.094 5.62319 22.0017 4.42642 20.5951 4.42642H4.38398L4.11405 1.20448L4.0937 1.077C4.015 0.745435 3.74546 0.48627 3.40168 0.426769L1.00972 0.012776ZM6.29437 15.5015C5.72482 15.4392 5.26933 14.9818 5.22069 14.3986L4.52805 6.15138H20.5943L20.6957 6.15884C21.0588 6.21282 21.3211 6.55238 21.2667 6.92837L20.1754 14.4699L20.148 14.6047C20.0096 15.132 19.5319 15.5088 18.9763 15.5088H6.4277L6.29437 15.5015ZM4.4966 20.7979C4.4966 19.8364 5.27591 19.0557 6.23767 19.0557C7.1993 19.0557 7.97989 19.8363 7.97989 20.7979C7.97989 21.7596 7.19917 22.5389 6.23767 22.5389C5.27604 22.5389 4.4966 21.7595 4.4966 20.7979ZM17.4339 20.7979C17.4339 19.8363 18.2145 19.0557 19.1761 19.0557C20.1377 19.0557 20.9183 19.8363 20.9183 20.7979C20.9183 21.7596 20.1376 22.5389 19.1761 22.5389C18.2146 22.5389 17.4339 21.7596 17.4339 20.7979ZM17.9949 9.53923C17.9949 9.06289 17.6087 8.67674 17.1324 8.67674H13.9435L13.8265 8.68461C13.4055 8.74172 13.081 9.10258 13.081 9.53923C13.081 10.0156 13.4672 10.4017 13.9435 10.4017H17.1324L17.2494 10.3938C17.6704 10.3367 17.9949 9.97587 17.9949 9.53923Z" fill="white"></path>
                                                    </svg>
                                                </span>
                                                SATIN AL
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-12 order-md-2 order-1">
                <div class="account-photo">
                    <img src="../../uploads/category/54-kapak-55108452665611.png" alt="">
                </div>
                <div class="points-share mt-3">
                    <div class="row gutters-xsmall">
                        <div class="col-auto font-weight-bold">Paylaş:</div>
                        <div class="col-auto">
                            <a href="#">
                                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.56003 8.13905V14H2.52304V8.13905H0V5.76257H2.52304V4.89793C2.52304 1.68787 4.03569 0 7.23621 0C8.21739 0 8.46269 0.139793 9 0.253698V2.60429C8.39844 2.51109 8.22907 2.45932 7.60415 2.45932C6.86243 2.45932 6.46528 2.64571 6.10318 3.01331C5.74108 3.38092 5.56003 4.01775 5.56003 4.92899V5.76775H9L8.07722 8.14423H5.56003V8.13905Z" fill="#BEC5CC"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.2739 13.5364H2.26256C1.01732 13.5364 0 12.5191 0 11.2739V2.26256C0 1.01732 1.01732 0 2.26256 0H11.2739C12.5191 0 13.5364 1.01732 13.5364 2.26256V11.2739C13.5364 12.5247 12.5247 13.5364 11.2739 13.5364Z" fill="#BEC5CC"></path>
                                    <path d="M6.77523 10.2453C5.84686 10.2453 4.97407 9.88394 4.3181 9.22796C3.66212 8.57199 3.30078 7.69921 3.30078 6.77083C3.30078 5.84246 3.66212 4.96968 4.3181 4.3137C4.97407 3.65773 5.84686 3.29639 6.77523 3.29639C7.7036 3.29639 8.57638 3.65773 9.23236 4.3137C9.88833 4.96968 10.2497 5.84246 10.2497 6.77083C10.2497 7.69921 9.88833 8.57199 9.23236 9.22796C8.57082 9.88394 7.7036 10.2453 6.77523 10.2453ZM6.77523 4.03575C5.26871 4.03575 4.04014 5.25875 4.04014 6.77083C4.04014 8.27735 5.26315 9.50592 6.77523 9.50592C8.28175 9.50592 9.51031 8.28291 9.51031 6.77083C9.50475 5.26431 8.28175 4.03575 6.77523 4.03575Z" fill="white"></path>
                                    <path d="M10.921 3.18237C11.2895 3.18237 11.5881 2.88369 11.5881 2.51526C11.5881 2.14682 11.2895 1.84814 10.921 1.84814C10.5526 1.84814 10.2539 2.14682 10.2539 2.51526C10.2539 2.88369 10.5526 3.18237 10.921 3.18237Z" fill="white"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 11.9934C1.72227 12.0906 3.22833 11.6869 4.69711 10.6179C3.21342 10.3637 2.18453 9.6834 1.62535 8.27798C2.05779 8.21817 2.43803 8.33031 2.88537 8.15089C1.42405 7.50798 0.477169 6.54362 0.43989 4.87654C0.902145 4.91391 1.25257 5.22042 1.80429 5.17556C0.462261 3.85984 0.0521901 2.42451 0.894688 0.682675C2.29637 2.29742 3.93663 3.39635 5.94222 3.91217C6.05406 3.94208 6.15843 3.97198 6.27027 3.99441C6.78471 4.11402 7.39609 4.36819 7.70923 4.33081C8.24604 4.26353 7.70923 3.64305 7.84344 2.83567C8.26841 0.323842 11.027 -0.819939 13.0699 0.652772C13.6664 1.08636 14.1361 1.07889 14.7251 0.817237C15.0308 0.682675 15.3439 0.548112 15.7092 0.391123C15.6272 1.10879 15.0755 1.505 14.6356 2.03577C15.1351 2.14791 15.5377 2.00587 16 1.85636C15.8434 2.37218 15.4557 2.66373 15.1053 2.94781C14.74 3.23936 14.5983 3.54586 14.5834 4.02431C14.3597 11.2683 6.15099 16.8675 0.536818 12.412C-0.00745029 11.9784 0.521901 12.412 0 11.9934Z" fill="#BEC5CC"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="#">
                                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.5238 4.02787C13.168 3.2418 12.6574 2.53607 12.009 1.92787C11.3607 1.32541 10.609 0.84918 9.77133 0.516393C8.90493 0.172131 7.9869 0 7.04017 0C6.09345 0 5.17542 0.172131 4.30902 0.516393C3.47132 0.84918 2.71968 1.31967 2.07132 1.92787C1.42296 2.53607 0.912306 3.2418 0.556569 4.02787C0.189355 4.84262 0 5.71475 0 6.60984C0 8.17623 0.58524 9.67951 1.65819 10.873L1.08442 14L4.13689 12.6402C5.04919 13.0303 6.01886 13.2254 7.03443 13.2254C7.98115 13.2254 8.89919 13.0533 9.76558 12.709C10.6033 12.3762 11.3549 11.9057 12.0033 11.2975C12.6516 10.6893 13.1623 9.98361 13.518 9.19754C13.8853 8.38279 14.0746 7.51066 14.0746 6.61557C14.0803 5.71475 13.891 4.84836 13.5238 4.02787Z" fill="#BEC5CC"></path>
                                    <path d="M9.89694 7.92958C9.59858 7.7804 9.38056 7.6886 9.22565 7.63122C9.1281 7.5968 8.89859 7.49352 8.81826 7.55663C8.5658 7.76319 8.29613 8.34844 8.00924 8.45745C7.29777 8.31975 6.63793 7.83204 6.12154 7.33286C5.89203 7.11483 5.46744 6.49516 5.37564 6.32876C5.35843 6.15663 5.66825 5.92712 5.7371 5.79516C6.09284 5.39352 5.82318 5.14106 5.77728 4.97467C5.69695 4.80253 5.55925 4.4927 5.43876 4.24024C5.33548 4.07385 5.31251 3.82712 5.1289 3.73532C4.34857 3.33368 3.90106 4.13696 3.71745 4.55581C2.61007 7.22385 9.2658 12.3017 10.6199 8.80171C10.6887 8.49762 10.6601 8.38286 10.5568 8.24516C10.3502 8.10171 10.1092 8.0386 9.89694 7.92958Z" fill="white"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-list p-3 mt-3">
                    <div class="font-weight-bold">Ödeme Seçenekleri</div>
                    Aşağıda yer alan güvenli ödeme çözümlerimiz ile Pubg Mobile-UC ürünlerini alabilirsiniz.
                    <div class="card-lister row gutters-xsmall">
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/mastercard.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/visa.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/ininal2.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/turkcell3.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/vodafone.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="https://epinkasa.com/images/telekom.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/ae.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/bkm.png" alt="">
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="card-item">
                                <img src="../../images/3dsecure.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>