<div id="ec-cat-slider" class="ec-cat-slider owl-carousel">

    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="/GamySell/katalog.html">
            <img src="/GamySell/uploads/blocks/block_61dabaa05a4305-30458204-46239505.webp" alt="Katalog Satışı" data-src="/GamySell/uploads/blocks/block_61dabaa05a4305-30458204-46239505.webp" title="Katalog" class="img-fluid borders-primary stil">
        </a>
        <span>Katalog</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="valorant/valorant-hesap-satisi.html">
            <img src="uploads/blocks/block_61555ec48b7505-39940858-24794057.webp" alt="Valorant Hesap Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61555ec48b7505-39940858-24794057.webp" title="Valorant Hesap" class="img-fluid borders-primary stil">
        </a>
        <span>Valorant Hesap</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="netflix/netflix-hesap.html">
            <img src="uploads/blocks/block_61dabf8440b983-05159965-57725836.webp" alt="Netflix Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabf8440b983-05159965-57725836.webp" title="Netflix" class="img-fluid borders-primary stil">
        </a>
        <span>Netflix</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="platform-hesap-satisi/exxen-hesap.html">
            <img src="uploads/blocks/block_61dabf8e43d108-56775063-47967635.webp" alt="Exxen Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabf8e43d108-56775063-47967635.webp" title="Exxen" class="img-fluid borders-primary stil">
        </a>
        <span>Exxen</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="sosyal-medya/discord.html">
            <img src="uploads/blocks/block_61dabf94e85188-24688219-36499653.webp" alt="Discord Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabf94e85188-24688219-36499653.webp" title="Discord" class="img-fluid borders-primary stil">
        </a>
        <span>Discord</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="metin2.html">
            <img src="uploads/blocks/block_61dabf9c2832f8-01261583-12277292.webp" alt="Metin2 Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabf9c2832f8-01261583-12277292.webp" title="Metin2" class="img-fluid borders-primary stil">
        </a>
        <span>Metin2</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="mobil-oyunlar/pubg-mobile.html">
            <img src="uploads/blocks/block_61558d75b69953-56148056-47502043.webp" alt="Pubg Mobile Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61558d75b69953-56148056-47502043.webp" title="Pubg Mobile" class="img-fluid borders-primary stil">
        </a>
        <span>Pubg Mobile</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="steam.html">
            <img src="uploads/blocks/block_62bed86f7e5ea2-80892480-57815625.webp" alt="Steam Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_62bed86f7e5ea2-80892480-57815625.webp" title="Steam" class="img-fluid borders-primary stil">
        </a>
        <span>Steam</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="online-oyunlar/league-of-legends.html">
            <img src="uploads/blocks/block_61dabf017fdc27-60485677-95551603.webp" alt="LoL Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabf017fdc27-60485677-95551603.webp" title="LoL" class="img-fluid borders-primary stil">
        </a>
        <span>LoL</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="platform-hesap-satisi.html">
            <img src="uploads/blocks/block_6155c0c8bb9345-20232133-11582215.webp" alt="Platformlar Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_6155c0c8bb9345-20232133-11582215.webp" title="Platformlar" class="img-fluid borders-primary stil">
        </a>
        <span>Platformlar</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="mobil-oyunlar.html">
            <img src="uploads/blocks/block_61dabec0616373-79496753-56912974.webp" alt="Mobil Oyunlar Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabec0616373-79496753-56912974.webp" title="Mobil Oyunlar" class="img-fluid borders-primary stil">
        </a>
        <span>Mobil Oyunlar</span>
    </div>
    <div class style="display:flex;flex-direction: column;align-items: center;">
        <a href="steam/steam-random-key.html">
            <img src="uploads/blocks/block_61dabe9eb60ce6-08964031-84198456.webp" alt="Random Key Satışı" data-src="https://www.itemhesap.com/uploads/blocks/block_61dabe9eb60ce6-08964031-84198456.webp" title="Random Key" class="img-fluid borders-primary stil">
        </a>
        <span>Random Key</span>
    </div>

</div>
